# Telegram Bot Token (get it from @BotFather)
BOT_TOKEN=7280845020:AAHBt0g4AwLiwPyDzgYDbrC7SmugQ-GX2nw

# Comma-separated list of allowed Telegram user IDs
# You can get your user ID by sending a message to @userinfobot
ALLOWED_USERS=963890854