# Telegram Bot Token (get it from @BotFather)
BOT_TOKEN=BOT_TOKEN

# Comma-separated list of allowed Telegram user IDs
# You can get your user ID by sending a message to @userinfobot
ALLOWED_USERS=1111111111111111