[Unit]
Description=GFP Package Manager Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="PYTHONPATH=/opt/gfp-pckmgr"
ExecStart=/usr/bin/python3 /opt/gfp-pckmgr/gfp_pckmgr.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gfp-pckmgr

[Install]
WantedBy=multi-user.target 